



 <%= @player_1_name %>  vs <%= @player_2_name %> <br> <br>

 <%= @player_2_name %>  <%= @player_2_hit_points %> HP

 Its <%= @player_2_name %>'s turn!

 <form action="/attack-player1">
     <input style="color:blue; height:50px; width:100px" id="attackplayer1" type="submit" name="upvote" value="Attack player 1" />
 </form>
