<%= @player_1_name %>  vs <%= @player_2_name %> <br> <br>

<%= @player_1_name %>  <%= @player_1_hit_points %> HP

Its <%= @player_1_name %>'s turn!

<form action="/attack-player2">
    <input style="color:blue; height:50px; width:100px" id="attackplayer2" type="submit" name="upvote" value="Attack player 2" />
</form>
