<h1> <%=@player_1_name%> vs. <%=@player_2_name%>  </h1>
<div style="display:grid;grid-template-columns:1fr 1fr">

<%= @player_1_name %> <%= @player_2_hit_points %>

 <%= @player_2_name %>  <%= @player_2_hit_points %>

<form action="/attack" method="get">
    <input style="color:blue; height:50px; width:100px" type="submit" name="upvote" value="Attack" />
</form>


</div>
